Timestamp and author, course texts, common on all notebooks .

### Lists
Lists can hold multiple datatypes and even duplicates. A loop may be used to
extract elements one at a time.

In [1]:
list = [33, "hello", 3.5, True, 33]
print(list)

[33, 'hello', 3.5, True, 33]

In [2]:
names = ["Anna", "Bob", "Catherine"]

for name in names:
    print(f"{name} has {len(name)} letters.")

Anna has 4 letters.
Bob has 3 letters.
Catherine has 9 letters.

List items are indexed (ordered): the first item has index [0], the second item has index [1] etc. Therefore, it is possible to retrieve item for a specific index or even replace it. A negative indice starts from the end of the list and counts backwards towards the start.

In [3]:
fruits = ["apple", "banana", "cherry"]
print(fruits)           # The original list
print(fruits[1])        # The second list item
print(fruits[-1])       # The last list item

fruits[1] = "blueberry" # Change value of second list item
print(fruits)           # The modified list

['apple', 'banana', 'cherry']
banana
cherry
['apple', 'blueberry', 'cherry']

Some simple operations regarding lists are:

Additive

    Use append() to add at the end.
    Use insert() to add at index position.
    Use extend() to add multiple elements.

Substractive


    Use remove() to delete by value
    Use pop() to remove by index.
    Use clear() to empty the list.

In [4]:
fruits = ["apple", "banana", "cherry", "date"]  #To reset the list, execute this block again.

In [5]:
fruits.append("elderberry") #Frequently used in loops
print(fruits)
fruits.insert(1, "fig") #First parameter is the position, second parameter is the item to be inserted
print(fruits)
fruits.extend(["grape", "honeydew"])
print(fruits)

['apple', 'banana', 'cherry', 'date', 'elderberry']
['apple', 'fig', 'banana', 'cherry', 'date', 'elderberry']
['apple', 'fig', 'banana', 'cherry', 'date', 'elderberry', 'grape', 'honeydew']

In [6]:
fruits.remove("cherry") #The first occurance only
print(fruits)
fruits.pop(2)
print(fruits)
fruits.clear()
print(fruits)

['apple', 'fig', 'banana', 'date', 'elderberry', 'grape', 'honeydew']
['apple', 'fig', 'date', 'elderberry', 'grape', 'honeydew']
[]

The sort() method sorts the list ascending by default. The optional 'reverse' parameter can be set to True for descending order.

In [7]:
numbers = [5, 2, 9, 1]
print("Original list",numbers)
numbers.sort()
print("Sorted ascending", numbers)

numbers.sort(reverse=True)
print("Sorted descending", numbers)

Original list [5, 2, 9, 1]
Sorted ascending [1, 2, 5, 9]
Sorted descending [9, 5, 2, 1]

Note: The list maybe sorted in place like in the example above (i.e. original list is modified) or the sorted list maybe another variable like below ( original list is unmodified):


```
sortedList=sort(numbers)
```

The min() and max() functions are useful commands to retrieve the lowest and  highest values from a list.

In [8]:
print(min(numbers))
print(max(numbers))

1
9

The above commands can also be used on a list of strings. Try to guess the output before executing the below block.

In [9]:
colorsList = ['red', 'green', 'blue']
print(min(colorsList))
print(max(colorsList))

blue
red

And what about on a single string?

In [10]:
color = 'purple'
print(min(color))
print(max(color))

e
u

### List of List

List may include lists as items. This is an important functionality which enables us to create primitive equivalent of matrices/arrays in python.

In [11]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matrix)
print(matrix[2][2]) #Reminder that indices start from 0, therefore, here the third item of the third list is queried

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
9

The len() function returns the number of items in an object.

When used on the matrix, it will return the number of rows; when used on the row, it will return the number of columns.

In [12]:
A = [
    [1, 2],
    [3, 4]
]

print(len(A))

print(len(A[0]))

2
2

In [13]:
B = [
    [5],
    [6]
]

print(len(B))

print(len(B[0]))

2
1

A rudimentary matrix multiplication is presented below.
Note the use of 'for' loops, range, append and  len() functions.

In [14]:
result = []
for i in range(len(A)):
    row = []
    for j in range(len(B[0])):
        sum = 0
        for k in range(len(B)):
            sum += A[i][k] * B[k][j]
        row.append(sum)
    result.append(row)

print("Matrix Multiplication:\n", result)

Matrix Multiplication:
 [[17], [39]]

Excercise: Can you modify the above to multiple matrix A with a scalar?

In [15]:
scalar = 3
result = []
for i in range(len(A)):
  ''' Your code here! '''

### Lists as Dataset

In [16]:
bmi_dataset = [
               ["Krishna", 75, 1.73, False],
               ["Bheem", 120, 1.78, True]
]

In [17]:
print(type(bmi_dataset[1]))

<class 'list'>

In [18]:
print(bmi_dataset[0])

['Krishna', 75, 1.73, False]

In [19]:
print(type(bmi_dataset[0][0]))

<class 'str'>

In [20]:
print(bmi_dataset[1][2])

1.78

In [21]:
bmi_dataset[1].append("bheem@foodtruck.com")

In [22]:
print(bmi_dataset)

[['Krishna', 75, 1.73, False], ['Bheem', 120, 1.78, True, 'bheem@foodtruck.com']]

In [23]:
bmi_dataset[1][1] = 125

Exercise:

Given the following square matrix $A$
$$A =  \begin{pmatrix} 1 & 1 \\ 1 & 0  \end{pmatrix}$$
compute the matrix $A^n$ obtained by multiplying $A$ to itself $n$ times.

Can you comment on the left-top value in $A^n$ (what does this remind you of?)

In [24]:
def square_matrix_power(A, n):
    output = A
    temp = A
    for i in range(n - 1):
        # output = A * output
        # -> output = A * temp
        #    temp = output
        output[0][0] = A[0][0] * temp[0][0] + A[0][1] * temp[1][0]
        output[0][1] = A[0][0] * temp[0][1] + A[0][1] * temp[1][1]
        output[1][0] = A[1][0] * temp[0][0] + A[1][1] * temp[1][0]
        output[1][1] = A[1][0] * temp[0][1] + A[1][1] * temp[1][1]
        temp = output
    return output

In [25]:
A = [
     [1, 1],
     [1, 0]
]

In [26]:
print(square_matrix_power(A, 2))

[[2, 2], [2, 4]]

In [27]:
def square_matrix_power(A, n):
    output = [item[:] for item in A]
    temp = [item[:] for item in A]
    for i in range(n - 1):
        # output = A * output
        # -> output = A * temp
        #    temp = output
        output[0][0] = A[0][0] * temp[0][0] + A[0][1] * temp[1][0]
        output[0][1] = A[0][0] * temp[0][1] + A[0][1] * temp[1][1]
        output[1][0] = A[1][0] * temp[0][0] + A[1][1] * temp[1][0]
        output[1][1] = A[1][0] * temp[0][1] + A[1][1] * temp[1][1]
        temp = [item[:] for item in output]
    return output

In [28]:
A = [
     [1, 1],
     [1, 0]
]

In [29]:
print(square_matrix_power(A, 2))

[[2, 1], [1, 1]]

In [30]:
for n in range(10):
    output = square_matrix_power(A, n)
    print(n, output[0][0])

0 1
1 1
2 2
3 3
4 5
5 8
6 13
7 21
8 34
9 55

### Tuple

A 'tuple' is a variation of list written with () brackets. Its main distinction from lists is that its content is **unchangeable** after initialization. Before executing the block below, try to guess which line would throw up an error.

In [31]:
colorsList = ['red', 'green', 'blue']     #List
print(colorsList[1])
colorsList[1] = 'yellow'
colorsList.append('purple')
print(colorsList)


colorsTuple = ('red', 'green', 'blue')     #Tuple
print(colorsTuple[1])
colorsTuple[1] = 'yellow'
colorsTuple.append('purple')
print(colorsTuple)

green
['red', 'yellow', 'blue', 'purple']
green

TypeError: 'tuple' object does not support item assignment

In [ ]:
bmi_categories = ("Underweight", "Normal", "Overweight", "Very overweight")

In [ ]:
print(type(bmi_categories))

In [ ]:
print(bmi_categories[-1])

In [ ]:
print(bmi_categories[0:2])

In [ ]:
bmi_categories.index("Normal")

In [ ]:
bmi_categories.index("Very underweight")

In [ ]:
print("Underweight" in bmi_categories)

In [ ]:
bmi_categories[3] = "VERY overweight"

Tuples save time:

In [ ]:
%%timeit -n1 -r10
for i in range(1000000):
    my_list = ["Tuples", "are", "faster", "than", "lists"]

What does %%timeit do?

In [ ]:
%%timeit?

In [ ]:
%%timeit -n1 -r10
for i in range(1000000):
    my_tuple = ("Tuples", "are", "faster", "than", "lists")

### Set

The next variation of list is 'set', written with {} brackets. These are unordered and unindexed. While the items are unchangeable, they can be removed and added. Also, duplicates are ignored:

In [ ]:
fruitset = {"apple", "banana", "cherry", "apple"}

print(fruitset)

In [ ]:
batsmen = {"Rohit", "Virat", "Ravindra", "Rahul"}

In [ ]:
print(type(batsmen))

In [ ]:
print("Rohit" in batsmen)

In [ ]:
batsmen.index("Rohit")

In [ ]:
bowlers = {"Ishant", "Bumrah", "Ravindra"}

In [ ]:
print(type(bowlers))

In [ ]:
all_rounders = batsmen.intersection(bowlers)

In [ ]:
print(type(all_rounders))

In [ ]:
print(all_rounders)

In [ ]:
players = batsmen.union(bowlers)

In [ ]:
print(type(players))

In [ ]:
print(players)

In [ ]:
bowlers = {"Ishant", "Bumrah", "Ravindra", "Bumrah"}

In [ ]:
print(bowlers)

Another quirk is that sets consider True==1 and False==0. Therefore, they may be ignored if found duplicated.

In [ ]:
thisset = {"apple", "banana", "cherry", True, 1, 2, False, True, 0}

print(thisset)

Let's race! Which will be the fastest?

In [ ]:
%%timeit -n1 -r10
my_list = list(range(10000))
for i in range(10000):
    b = 1947 in my_list

In [ ]:
%%timeit -n1 -r10
my_tuple = tuple(range(10000))
for i in range(10000):
    b = 1947 in my_tuple

In [ ]:
%%timeit -n1 -r10
my_set = set(range(10000))
for i in range(10000):
    b = 1947 in my_set

### Dictionary

The last variation of lists is dictionaries. They store data in key:value pairs.

A dictionary is a collection which is ordered, changeable and does not allow duplicates.

In [ ]:
car =	{
  "brand": "Dodge",
  "model": "Charger",
  "year": 1969
}
print(car)
print(car["brand"])

Since duplicate keys are not allowed, the next occurance of same key will overide the previous.

In [ ]:
car =	{
  "brand": "Dodge",
  "model": "Charger",
  "year": 1969,
  "year": 2015
}
print(car)

Lists or Dictionaries?

In [ ]:
bmi_dataset = [
               ["Shams", 75, 1.73, False],
               ["Alex", 125, 1.75, True]
]

In [ ]:
bmi_record = {
    "name": "Shams",
    "weight": 75,
    "height": 1.73,
    "is_overweight": False
}

In [ ]:
print(type(bmi_record))

In [ ]:
bmi_record["name"]

In [ ]:
bmi_record["email"]

In [ ]:
bmi_record["email"] = "Shams@idontknow.com"

In [ ]:
print(bmi_record)

In [ ]:
for key in bmi_record:
    print(key, ":", bmi_record[key])

In [ ]:
print(bmi_record.keys())

In [ ]:
bmi_record_1 = {
    "name": "Alex",
    "weight": 125,
    "height": 1.75,
    "is_overweight": True,
    "email": "Alex@foodtruck.com"
}

In [ ]:
bmi_dataset = [bmi_record, bmi_record_1]

In [ ]:
print(bmi_dataset[0]["is_overweight"])

### Modules

Instead of building all functions from scratch, it is efficient to reuse some of the code and functions already developed by others (with attribution!). For Python, these often lie inside libraries of code termed as 'modules'.

Consider the following: A calendar date in Python is not a data type of its own, but a module named 'datetime' can be imported (import keyword) to work with dates.

In [ ]:
import datetime

x = datetime.datetime.now() #Here datetime is the module, while datetime.now() is the function which returns the current time.
print(x)

The 'from' keyword is used to import only a specified section from a module.

In [ ]:
from datetime import time #Only time function is imported

x = time(hour=15)

print(x)

The 'as' keyword is used to create an alias.

In [ ]:
import calendar as c  #Alias 'c' is created for calendar

print(c.month_name[4])  #The calendar module can now be referred to by using c instead of calendar

Python also has a built-in module called 'math'. It includes many mathematical functions and some constants. The math.sqrt() function for example, returns the square root of a number:

In [ ]:
import math

x = math.sqrt(64)

print(x)

A complete list of the module's contents can be found in their official [documentation](https://docs.python.org/3/library/math.html).

Exercise, try to find and implement the math function to return the sine inverse of pi.

In [ ]:
''' Your code here! '''

### PIP
PIP is a package manager for Python modules. It can be used to add, remove, or view the currently installed modules. Note that modules that are not included with Python by default would need to be installed using PIP before they can be imported.
Running the below command will return a list of currently installed modules, i.e. modules which maybe imported and used at the moment.

In [ ]:
pip list

In [ ]:
pip install camelcase

In [ ]:
import camelcase

c = camelcase.CamelCase() #

text = "A short sentence written in English"

print(c.hump(text))

### Numpy

NumPy (Numerical Python) is a powerful Python module for numerical computing. It provides support for large, multi-dimensional arrays and matrices. It also comes with mathematical functions to operate on these arrays efficiently.

Since numpy is already installed here, it can be imported. Conventionally, it is imported as the alias 'np'.

### Array
The array() function can be used to create 'n' dimensional arrays (shortened to ndarray). Arrays may be nested too. Essentially, a 1D array is a collection of 0D arrays. A 2D array is a collection of 1D arrays, and so on.

The 'ndim' attribute that returns an integer representing the dimensions of the array.

In [ ]:

import numpy as np

arr = np.array(42)  # 0D array
print("\n0D array\n",arr)
print("\nDimension:",arr.ndim)

a = np.array([1, 2, 3]) # 1D array
print("\n1D array\n",a)
print("\nDimension:",a.ndim)

b = np.array([[1, 2, 3], [4, 5, 6]]) # 2D array or matrix
print("\n2D array\n",b)
print(b.ndim)

print(type(b))  #Print the type of object

Few useful functions regarding array generaton:

In [ ]:

c = np.zeros((2, 3))    # Array consisting of zeros
print(c)

d = np.random.rand(2, 2)  # Array consisting of random numbers (by default, returns Python float between 0 and 1)
print(d)

e = np.ones((2, 2))    # Array consisting of zeros
print(e)

np.arange is another NumPy function used to createarrays with regularly spaced values within a specified interval. Unlike Pythonâ€™s 'range' command, it returns a NumPy array and supports non-integer steps. The syntax is the same as for the range command.

In [ ]:
import numpy as np
a = np.arange (1, 22, 2)  # (start:stop:step)
print(a)

b = np.arange (10, 21)  # (start:stop) step defaults to 1
print(b)
print(b.ndim)

c = np.arange (11)  # (stop) start defaults to 0
print(c)
print(type(c))

Excercise: Generate a 3 by 3 identity matrix

In [ ]:
import numpy as np

i = ''' Your code here! '''

print("\nThe required array\n", i)

NumPy arrays are indexed similiar to Python lists. Note again that indice starts from 0 and negative indices count backwards from the end.

In [ ]:
import numpy as np

arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])

print("\nArray\n",arr)
print('Last element on 1st row: ', arr[0, -1]) #i.e. arrayname[row, column]

Excercise: Create the following array:


```
1 2 3
4 5 6
7 8 9
```
and then print its very last element.

In [ ]:
import numpy as np

array = ''' Your code here! '''

print(''' Your code here! ''')

Numpy Arrays Vs Python Lists:

In [ ]:
import numpy as np
N = 100000

In [ ]:
%%time
list1_ = list(range(N))
for i in range(N):
    list1_[i] = list1_[i] * list1_[i]

In [ ]:
%%time
list_ = list(range(N))
list_ = [item * item for item in list_]

In [ ]:
%%time
list_ = list(range(N))
list_ = map(lambda x: x * x, list_)

In [ ]:
%%time
list_ = list(range(N))
list_sum = 0
for item in list_:
    list_sum += item

In [ ]:
%%time
list_ = list(range(N))
list_sum = sum(list_)

In [ ]:
%%time
arr = np.arange(N)
arr = arr * arr

In [ ]:
%%time
arr = np.arange(N)
arr_sum = np.sum(arr)

And also unlike Python lists, NumPy array operations can be implemented with ease.

In [ ]:
a = np.array([1, 2, 0])

b = np.array([0, np.pi/4, np.pi/2]) #Using NumPy's predefined Pi constant

print(a + b, "\n")  # Array addition

print(a * b, "\n")  # Element-wise multiplication

c=np.concatenate((a, b))

print(c, "\n")

print(np.sin(b), "\n")  # Apply sine to each element, note that it takes input in radians


print(np.average(a), "\n")  # Mean of array elements

Matrix multiplication may be handled in a variety of ways.

In [ ]:
import numpy as np

A = np.array([[1, 2, 3],
              [4, 5, 6],
              [7, 8, 9]])
B = np.array([[2, -1, 0],
              [-1, 2, 0],
              [0, 1, 2]])

C = A @ B # @ operator for matrix cross multiplication
print(C, "\n")

D = np.matmul(A, B) # np.matmul method for matrix cross multiplication
print(D, "\n")

### Slicing arrays

Array slicing is a useful feature of NumPy. It allow the extraction of parts of an array, changing values, or reversing them. The basic syntax is:


```
arrayname[start:stop:step]
```
The step is optional and defaults to 1.

In [ ]:
import numpy as np

a = np.array([2, 4, 6, 8, 10])


print(a[1:4])    # Select elements from index 1 up to (not including) 4

print(a[:3])     # Select first 3 elements (index 0,1,2)

print(a[2:])     # Elements from index 2 to the end

print(a[::2])    # Every other element

print(a[::-1])   # Reversed array

In [ ]:
b = np.array([[ 1,  2,  3,  4],
              [ 5,  6,  7,  8],
              [ 9, 10, 11, 12]])  #3 rows, 4 columns


print(b[1, 2], "\n")       # Select a single element at row 2, col 3)


print(b[0:2,  # Slice between rows 1 and 2
        1:3], "\n")   # and columns 2 and 3



print(b[:2, # Get the first two rows
        :], "\n")     # and all their columns


print(b[:,    # Get all rows
        2:3], "\n")     # of the third column


print(b[-1,   # Get the last row
        :], "\n")     # with all its columns

Excercise: Given the below 2D array,

    a) Get the second row.
    b) Get the last column.
    c) Get the 2x2 block: [[6,7], [10,11]]

In [ ]:
b = np.array([
    [ 1,  2,  3,  4],
    [ 5,  6,  7,  8],
    [ 9, 10, 11, 12]
])

''' Your code here! '''

The slice can also be used to assign values.

In [ ]:
a = np.array([2, 4, 6, 8, 10])
print(a)
a[1:4] = 0
print(a)

Excercise: For the given array, print


```
a) Third column (index 2) in reverse
b) Replace center 3x3 block with zeros
c) Every second row and column
```

In [ ]:
a = np.arange(1, 26).reshape(5, 5)

''' Your code here! '''

### Broadcasting
The term broadcasting describes how NumPy treats arrays with different shapes during arithmetic operations.

In [ ]:
arr1 = np.arange(6)

In [ ]:
arr1.shape

In [ ]:
arr1

In [ ]:
arr1 = arr1.reshape((3, 2))

In [ ]:
arr1.shape

In [ ]:
arr1

In [ ]:
arr2 = np.arange(6).reshape((3, 2))

In [ ]:
arr2

In [ ]:
arr1 + arr2

In [ ]:
arr2[0].reshape((1, 2))

In [ ]:
arr1 + arr2[0].reshape((1, 2)) # (3, 2) + (1, 2)

In [ ]:
arr2[:, 0].reshape((3, 1))

In [ ]:
arr1 + arr2[:, 0].reshape((3, 1)) # (3, 2) + (3, 1)

In [ ]:
arr1 + 1

In [ ]:
arr1 = np.arange(24).reshape((2, 3, 4))

In [ ]:
arr1

In [ ]:
arr2 = np.ones((1, 4))

In [ ]:
arr1 + arr2   # (2, 3, 4) + (1, 4)

In [ ]:
arr1 = np.arange(4)

In [ ]:
arr2 = np.arange(5)

In [ ]:
print(arr1.shape, arr2.shape)

In [ ]:
arr1 + arr2

In [ ]:
arr1.reshape(4, 1) + arr2  # (4, 1) + (5)

In [ ]:
arr = np.random.rand(3, 3)

In [ ]:
arr

In [ ]:
arr.T

### Numpy for Files

Run the below block to setup the input file. Then follow along.

In [ ]:
# @title
content = """\
\t\tMERCURY\tVENUS\tEARTH\tMARS\tJUPITER\tSATURN\tURANUS\tNEPTUNE\tPLUTO
Mass\t\t0.330\t4.87\t5.97\t0.642\t1898\t568\t86.8\t102\t0.0146
Diameter\t57.9\t108.2\t149.6\t227.9\t778.6\t1433.5\t2872.5\t4495.1\t5906.4
DayLength\t4222.6\t2802.0\t24.0\t24.7\t9.9\t10.7\t17.2\t16.1\t153.3
"""

with open("planets_small.txt", "w") as f:
    f.write(content)

content1 = """\
\tMERCURY\tVENUS\tEARTH\tMOON\tMARS\tJUPITER\tSATURN\tURANUS\tNEPTUNE\tPLUTO
Mass(10^24kg)\t0.330\t4.87\t5.97\t0.073\t0.642\t1898\t568\t86.8\t102\t0.0146
Diameter(km)\t4879\t12104\t12756\t3475\t6792\t142984\t120536\t51118\t49528\t2370
Density(kg/m3)\t5427\t5243\t5514\t3340\t3933\t1326\t687\t1271\t1638\t2095
Gravity(m/s2)\t3.7\t8.9\t9.8\t1.6\t3.7\t23.1\t9.0\t8.7\t11.0\t0.7
EscapeVelocity(km/s)\t4.3\t10.4\t11.2\t2.4\t5.0\t59.5\t35.5\t21.3\t23.5\t1.3
RotationPeriod(hours)\t1407.6\t-5832.5\t23.9\t655.7\t24.6\t9.9\t10.7\t-17.2\t16.1\t-153.3
LengthofDay(hours)\t4222.6\t2802.0\t24.0\t708.7\t24.7\t9.9\t10.7\t17.2\t16.1\t153.3
DistancefromSun(10^6km)\t57.9\t108.2\t149.6\t0.384\t227.9\t778.6\t1433.5\t2872.5\t4495.1\t5906.4
Perihelion(10^6km)\t46.0\t107.5\t147.1\t0.363\t206.6\t740.5\t1352.6\t2741.3\t4444.5\t4436.8
Aphelion(10^6km)\t69.8\t108.9\t152.1\t0.406\t249.2\t816.6\t1514.5\t3003.6\t4545.7\t7375.9
OrbitalPeriod(days)\t88.0\t224.7\t365.2\t27.3\t687.0\t4331\t10747\t30589\t59800\t90560
OrbitalVelocity(km/s)\t47.4\t35.0\t29.8\t1.0\t24.1\t13.1\t9.7\t6.8\t5.4\t4.7
OrbitalInclination(degrees)\t7.0\t3.4\t0.0\t5.1\t1.9\t1.3\t2.5\t0.8\t1.8\t17.2
OrbitalEccentricity\t0.205\t0.007\t0.017\t0.055\t0.094\t0.049\t0.057\t0.046\t0.011\t0.244
ObliquitytoOrbit(degrees)\t0.034\t177.4\t23.4\t6.7\t25.2\t3.1\t26.7\t97.8\t28.3\t122.5
MeanTemperature(C)\t167\t464\t15\t-20\t-65\t-110\t-140\t-195\t-200\t-225
SurfacePressure(bars)\t0\t92\t1\t0\t0.01\tUnknown\tUnknown\tUnknown\tUnknown\t0.00001
NumberofMoons\t0\t0\t1\t0\t2\t79\t82\t27\t14\t5
RingSystem?\t0\t0\t0\t0\t0\t1\t1\t1\t1\t0
GlobalMagneticField?\t1\t0\t1\t0\t0\t1\t1\t1\t1\tUnknown
"""

with open("planets.txt", "w") as f:
    f.write(content1)

In [ ]:
planets_small = np.loadtxt("planets_small.txt")

In [ ]:
planets_small = np.loadtxt("planets_small.txt",
                           skiprows = 1)

In [ ]:
planets_small = np.loadtxt("planets_small.txt",
                           skiprows = 1,
                           usecols = (1, 2, 3, 4, 5, 6, 7, 8, 9))

In [ ]:
planets_small

In [ ]:
planets_small.shape

In [ ]:
planets = np.loadtxt("planets.txt",
                           skiprows = 1,
                           usecols = (1, 2, 3, 4, 5, 6, 7, 8, 9))

In [ ]:
planets = np.genfromtxt("planets.txt",
                        skip_header=1,
                        usecols = [1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
planets

In [ ]:
planets.shape

In [ ]:
np.isnan(planets)

In [ ]:
planets_new = np.nan_to_num(planets, nan=-1)

In [ ]:
planets_new

In [ ]:
np.savetxt('planets_new.txt', planets_new,
           delimiter=',')

In [ ]:
np.save("planets_new", planets_new)

In [ ]:
!ls -lh

Numpy file compression:

In [ ]:
arr1 = np.random.rand(1000, 10)
arr2 = np.random.rand(2000, 5)
arr3 = np.random.rand(20, 10000)

In [ ]:
np.savez("many_arrs", arr1, arr2, arr3)

In [ ]:
!ls -lh

In [ ]:
arrs = np.load('many_arrs.npz')

In [ ]:
print(type(arrs))

In [ ]:
arrs.files

In [ ]:
arrs['arr_0'].shape

In [ ]:
np.savez_compressed('many_arrs_compressed',
                    arr1, arr2, arr3)

In [ ]:
!ls -lh

In [ ]:
arr1 = np.zeros((10000, 10000))

In [ ]:
np.savez("zeros", arr1)

In [ ]:
np.savez_compressed("zeros_compressed", arr1)

In [ ]:
!ls -lh

# Stats with NumPy

In [ ]:
arr = np.random.rand(10000000,)

In [ ]:
np.amin(arr)

In [ ]:
np.amax(arr)

In [ ]:
np.mean(arr)

In [ ]:
np.var(arr)

In [ ]:
np.std(arr)

In [ ]:
np.median(arr)

In [ ]:
np.percentile(arr, 50)

In [ ]:
np.percentile(arr, 10)

In [ ]:
np.percentile(arr, 90)

In [ ]:
%%time
iqr = np.percentile(arr, 75) - np.percentile(arr, 25)

In [ ]:
print(iqr)

In [ ]:
%%time
quartiles = np.percentile(arr, [25, 75])
iqr = quartiles[1] - quartiles[0]

In [ ]:
print(quartiles)

In [ ]:
print(iqr)

In [ ]:
(arr - np.mean(arr))/np.std(arr)

In [ ]:
np.histogram(arr)

In [ ]:
np.histogram(arr, bins=5)

In [ ]:
np.histogram(arr, bins=[0, 0.25, 0.5, 0.75, 1])

In [ ]:
bins = [0, 0.25, 0.5, 0.75, 1]

In [ ]:
np.digitize(arr, bins)

In [ ]:
arr1 = np.random.randint(0, 10, (10))

In [ ]:
arr1

In [ ]:
bins = [0, 6, 10]

In [ ]:
np.digitize(arr1, bins)

In [ ]:
np.digitize(arr1, bins, right=True)

In [ ]:
arr1 = np.random.randint(50, 80, 100) # weight

In [ ]:
arr2 = np.random.randint(150, 185, 100) # heights

In [ ]:
arr3 = np.random.randint(17, 22, 100) # age

In [ ]:
np.concatenate((arr1, arr2, arr3)).shape

In [ ]:
np.vstack((arr1, arr2, arr3)).shape

In [ ]:
arr2d = np.vstack((arr1, arr2, arr3))

In [ ]:
np.amin(arr2d, axis=1)

In [ ]:
np.amax(arr2d, axis=1)

In [ ]:
np.mean(arr2d, axis=1)

# Checking stats rules with numpy

## Mean subracted array has zero mean

In [ ]:
arr = np.random.rand(1000)

In [ ]:
mean = np.mean(arr)

In [ ]:
arr1 = arr - mean

In [ ]:
np.mean(arr1)

## Computing mean with smaller set of values

In [ ]:
arr = np.random.rand(1000)

In [ ]:
for k in range(1, 50):
    arr1 = arr[0:k]
    print(k, np.mean(arr1))

In [ ]:
np.cumsum?

In [ ]:
means = np.cumsum(arr)/np.arange(1,1001)

In [ ]:
means[0:15]

## Effect of outliers on mean and median

In [ ]:
arr = np.random.randint(1, 100, 100)

In [ ]:
np.mean(arr)

In [ ]:
np.median(arr)

In [ ]:
arr = np.append(arr, [1000, 2000])

In [ ]:
arr.shape

In [ ]:
np.mean(arr)

In [ ]:
np.median(arr)

## Effect of scaling arrays on mean and median

In [ ]:
arr = np.random.rand(100)

In [ ]:
np.mean(arr)

In [ ]:
np.median(arr)

In [ ]:
arr1 = 2.5 * arr + 0.65

In [ ]:
print(np.mean(2.5 * arr + 0.65),
      2.5 * np.mean(arr) + 0.65)

In [ ]:
print(np.median(2.5 * arr + 0.65),
      2.5 * np.median(arr) + 0.65)

In [ ]:
print(np.var(2.5 * arr + 0.65),
      2.5*2.5*np.var(arr))

In [ ]:
print(np.std(2.5 * arr + 0.65),
      2.5 * np.std(arr))

In [ ]:
arr1 = np.random.rand(100)
arr2 = np.random.rand(100)

In [ ]:
print( np.mean(0.21 * arr1 - 0.75 * arr2),
      0.21 * np.mean(arr1) - 0.75 * np.mean(arr2))